<h2>edit profile: <%= currentUser.name %></h2>

<h3>account details</h3>

<div class="form-container">
    <ul>
        <li><span class="bold">username: </span><%= currentUser.name %> <span class="uid">(user id: #<%= currentUser.id %>)</span></li>
        <li><span class="bold">email: </span><%= currentUser.email %></li>
    </ul>
</div>

<h3>profile details</h3>

<form action="/profile/<%= currentUser.id %>" method="POST">
    <div class="form-container">
        <input hidden type="user" name="userId" value="<%= currentUser.id %>">
        <input hidden type="email" name="email" id="new-email" value="<%= currentUser.email %>">
    
      <div class="edit-align">
          <label for="switchCode" class="bold">switch code:</label>
          <input type="text" name="switchCode" id="switchCode" value="<%= currentUser.switchCode %>" autocomplete="off" pattern="\d*" maxlength="12">
          <div class="infobox">
              <div class="arrow-right"></div>
              'SW' does not have to be entered.
          </div>
      </div>
    
      <div class="edit-align">
          <label for="about" class="bold">about:</label>
          <textarea name="about" id="about" class="edit-about" autocomplete="off"><%= currentUser.about %></textarea>
          <!-- <input type="text" name="about" id="about" class="edit-about" value="<%= currentUser.about %>" autocomplete="off"> -->
      </div>
    </div>

    <div class="btn-center">
        <input type="submit" class="btn" value="update">
    </div>


  </form>