<h2 class="edit-header"><%= currentUser.name %></h2><a href="/profile/edit/<%= currentUser.id %>"><img src="https://www.flaticon.com/svg/static/icons/svg/61/61456.svg" width=15 class="edit-header"></a>

<ul>
    <li>
        <span class="bold">username:</span> <%= currentUser.name %> <span class="uid">(user id: #<%= currentUser.id %>)</span>
    </li>
    <li>
        <span class="bold">switch code:</span> <%= currentUser.switchCode %>
    </li>
        <div class="about-text"><%= currentUser.about %></div>
</ul>