<h2 class="edit-header"><%= currentUser.name %></h2><a href="/profile/edit/<%= currentUser.id %>"><img src="https://icons-for-free.com/iconfiles/png/512/edit+pen+pencil+icon-1320183237584811650.png" width=20 class="edit-header"></a>

<ul>
    <li>
        <span class="bold">username:</span> <%= currentUser.name %> <span class="uid">(user id: #<%= currentUser.id %>)</span>
    </li>
    <li>
        <span class="bold">switch code:</span> <%= currentUser.switchCode %>
    </li>
        <div class="about-text"><%= currentUser.about %></div>
</ul>