<h2>editing data for match</h2>

<form action="/matches/?_method=PUT" method="POST">

    <div class="form-group">
      <input hidden type="user" name="userId" value="<%= currentUser.id %>">
    </div>

    <div class="form-group">
        <label for="character">character</label>
        <select name="characterId" id="character" class="form-control" required>
            <option selected="selected"><%= match.character.name %></option>
            <% characters.forEach(function(character) { %>
                <option value="<%= character.id %>"><%= character.name %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="result">match result</label>
        <select name="result" id="result" class="form-control" required>
            <option selected="selected"><%= match.result %></option>
            <option value="win">win</option>
            <option value="lose">lose</option>
        </select>
    </div>

    <input type="submit" class="btn">

  </form>