<h2>editing data for matchId: <%= matchId %></h2>
<h4>current match data:</h4>
character used: <%= character.name %>
match result: <%= match.result %>

<!-- sorting characters alphabetically -->
<% allCharacters.sort(function(a, b) { %>
    <% if(a.name < b.name) return -1 %>
    <% if(a.name > b.name) return 1 %>
    <% return 0 %>
<% }) %>

<h4>all characters</h4>

<% allCharacters.forEach(allChar=>{ %>
    <li><%= allChar.name %></li>
<% }) %>

<form action="/matches/<%= matchId %>?_method=PUT" method="POST">

    <div class="form-group">
      <input hidden type="user" name="userId" value="<%= currentUser.id %>">
    </div>

    <div class="form-group">
        <label for="character">character</label>
        <select name="characterId" id="character" class="form-control" required>
            <option selected="selected"><%= character.name %></option>
            <% allCharacters.forEach(function(allChar) { %>
                <option value="<%= allChar.id %>"><%= allChar.name %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="result">match result</label>
        <select name="result" id="result" class="form-control" required>
            <option selected="selected"><%= match.result %></option>
            <option value="win">win</option>
            <option value="lose">lose</option>
        </select>
    </div>

    <input type="submit" class="btn">

  </form>