<h2>edit match details</h2>

<div class="match-container">
    <div class="match-details">
        <div class="match-results">
            <img src="<%= match.character.icon %>" width=100><span class="font"><%= match.character.name %></span><span><%= match.result.toLowerCase() %><br></span>
        </div>
    </div>
</div>

<!-- sorting characters alphabetically -->
<% allCharacters.sort(function(a, b) { %>
    <% if(a.name < b.name) return -1 %>
    <% if(a.name > b.name) return 1 %>
    <% return 0 %>
<% }) %>

    <div class="form-container">

<form action="/matches/<%= matchIndex %>?_method=PUT" method="POST">
      <input hidden type="user" name="userId" value="<%= currentUser.id %>">

      <div class="edit-align">
        <label for="character" class="bold">character</label>
        <select name="characterId" id="character" class="form-control" required>
            <option selected="selected" value="<%= match.characterId %>"><%= character.name %></option>
            <% allCharacters.forEach(function(allChar) { %>
                <option value="<%= allChar.id %>"><%= allChar.name %></option>
            <% }) %>
        </select>
        </div>


            <div class="edit-align">
        <label for="result" class="bold">match result</label>
        <select name="result" id="result" class="form-control" required>
            <option selected="selected"><%= match.result %></option>
            <% if (match.result === "win") { %>
                <option value="lose">lose</option>
            <% } else { %>
                <option value="win">win</option>
            <% } %>
        </select>
        </div>
        <div class="btn-center">
            <input type="submit" class="btn">
        </div>
  </form>
  </div>