<h2>viewing your match history: <%= currentUser.name %></h2>
<h4>user id: <%= currentUser.id %></h4>

<form action="/matches/new">
    <input type="submit" value="add" />
</form>
<!-- 
attributes: [[sequelize.Sequelize.fn('date_format', sequelize.Sequelize.col('createdAt'), '%d %b %y'), 'createdAt']], -->

<% matches.forEach(match=>{ %>
    <li><%= match.character.name %> = <%= match.result %> || <a href="/matches/edit/<%= match.id %>">edit</a></li>
<% }) %>