<h2>match history for <%= currentUser.name %></h2>

<div class="match-buttons">
    <form action="/matches/new/<%= currentUser.id %>">
        <input type="submit" value="add" />
    </form>
</div>
<!-- 
attributes: [[sequelize.Sequelize.fn('date_format', sequelize.Sequelize.col('createdAt'), '%d %b %y'), 'createdAt']], -->

    <% matches.forEach(match=>{ %>
        <% let matchIndex = match.id %>
        <div class="match-container">
            <div class="match-details">
                <div class="match-results">
                    <img src="<%= match.character.icon %>" width=100> <%= match.character.name %> <span><%= match.result.toUpperCase() %><br></span>
                </div>
            </div>
            <div class="match-buttons">
                <a href="/matches/edit/<%= matchIndex %>">
                    <button class="btn">edit</button>
                </a>
                <form method="DELETE" action="/matches/<%= currentUser.id %>"><input hidden type="text" name="id" value="<%= matchIndex %>"><button class="btn" type="submit">delete</button></form>
            </div>
        </div>
        <% }) %>