<h2>viewing your match history: <%= currentUser.name %></h2>
<h4>user id: <%= currentUser.id %></h4>

<form action="/matches/new">
    <input type="submit" value="add" />
</form>
<!-- 
attributes: [[sequelize.Sequelize.fn('date_format', sequelize.Sequelize.col('createdAt'), '%d %b %y'), 'createdAt']], -->

<% matches.forEach(match=>{ %>
    <% let matchIndex = match.id %>
    <li>match id based on database: <%= match.id %> || <%= match.character.name %> = <%= match.result %> || <a href="/matches/edit/<%= matchIndex %>">edit</a></li>
<% }) %>