<div class="character-data">
    <div class="character-data-one">
        <img src="<%= characterData.images.portrait %>" width=200 class="char-show">
        <div id="character-data-sub">
            <h2>
                <%= characterData.name %>
                <img src="<%= characterData.series.icon %>" width=25>
            </h2>
            <span id="character-details">
                Series: <%= characterData.series.name %><br>
                Availability: <%= characterData.availability %>
            </span>
        </div>
    </div>
    <div class="character-data-two">

    </div>
</div>

